/* Allows the use of tailwind in project */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Assigns global CSS variables */
:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

/* Adds configuration to body element */
body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}